<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-4 col-sm-push-3 well">
		<h2>Change Password</h2>
		<form name="changePasswordForm"
			ng-submit="doChangePassword(changePasswordForm)">
			<div class="form-group">
				<input type="password" ng-model="passw.cupassword" required
					placeholder="Enter your current password" class="form-control"
					required>
			</div>
			<div class="form-group">
				<input type="password" ng-model="passw.npassword" required
					placeholder="Enter your New password" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="password" ng-model="passw.cpassword" required
					placeholder="Conform your password" class="form-control" required>
			</div>
			<input type="submit" name="save" value="Change"
				class="btn btn-success" ng-disabled="signupForm.$invalid" />
		</form>
	</div>
</div>
</div>