<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="loader" ng-show="loader">
<div class="center">
<img ng-src="images/loader.gif">
</div>
</div>
<div class="col" ng-hide="loader">
	<div class="col-sm-4 col-sm-push-3 well">
		<p>{{msg}}</p>
		
		<h2>Login</h2>
		<form name="loginForm" ng-submit="doLogin(loginForm)"
			novalidate="novalidate">
			<div class="form-group"
				ng-class="{'has-error' :loginForm.email.$invalid && formSubmitted}">
				<input type="email" name="email" ng-model="email"
					placeholder="Enter your email address" class="form-control"
					required> <span
					ng-show="loginForm.email.$invalid && formSubmitted"> Email
					is required.</span>
			</div>
			<div class="form-group"
				ng-class="{'has-error' :loginForm.password.$invalid && formSubmitted}">
				<input type="password" name="password" ng-model="password"
					required="required" placeholder="Enter your password"
					class="form-control">
				<!-- <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required</span> -->
				<span ng-show="loginForm.password.$invalid && formSubmitted"
					class="help-block"> Password is required.</span>
			</div>
			<div class="form-group">
				<a href="#/forgotpassword">Reset Password</a>
			</div>
			<div>
			<input type="submit" name="save" value="login"
				class="btn btn-success"
				ng-disabled="loginForm.email.$dirty && loginForm.email.$invalid ||
  loginForm.password.$dirty && loginForm.password.$invalid" />
             </div>
			<!-- <img id="spinner" ng-src="images/spinner.gif" style="display:none;"> -->
			<!-- <div class="form-group">
Don't have account?<a href="#/signup">SignUp</a>
</div> -->
		</form>
	</div>
</div>