<br>
<br>
<br>
<br>
<div class="loader" ng-show="loader">
<div class="center">
<img ng-src="images/loader.gif">
</div>
</div>
<div class="col" ng-hide="loader">
	<div class="col-sm-4 col-sm-push-3 well">
	<p>{{msg}}</p>
			<h2>Reset Password</h2>
<form name="resetpasswordForm"
	ng-submit="doResetPassword(resetpasswordForm)" novalidate="novalidate">
			<div class="form-group"
				ng-class="{'has-error' :resetpasswordForm.email.$invalid && formSubmitted}">
				<input type="email" name="email" ng-model="email"
					placeholder="Enter your email address" class="form-control"
					required> <span
					ng-show="resetpasswordForm.email.$invalid && formSubmitted">Please
					Enter email address</span>
			</div>
			<div class="form-group">
				<p>For further assistance, please contact Helpdesk at
					+91-7411252813.</p>
			</div>
			<center>
				<input type="submit" name="save" value="Reset Password"
					class="btn btn-success"
					ng-disabled="resetpasswordForm.email.$dirty && resetpasswordForm.email.$invalid" />
			</center>
</form>
</div>
</div>