#MainContent{
    font-family:Arial;
    font-size:13px;
    width:1260px;
    height:650px;
    background-color:#fff;
    background-image: url(/images/329-home-decor-classes.jpg);

}
.MainTable {
    align-content:center;
    padding-left:100px;
    padding-right:100px;
    width:1055px;
    
}
#gridtable {
    width:600px;
    
}
iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}
.h1{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0px;
    white-space: nowrap;
    color: #252525;
    display: inline-block;
    padding-top: 2px;
    font-size: 14px;
}